@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-background text-neutral;
}

body.dark {
    @apply bg-background-dark text-foreground-dark;
}

header,
footer {
    @apply bg-secondary text-white p-4;
}

body.dark header,
body.dark footer {
    @apply bg-secondary-dark text-foreground-dark;
}

body.dark .text-accent {
    @apply text-accent-dark;
}

body.dark .bg-accent {
    @apply bg-accent-dark;
}
